
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


.input-box {
  position: relative;
  height: 55px;
  max-width: 250px;
  width: 100%;
  max-width: 0 30px;
  
  padding-left: 65px;
  background-color: #fff;
  border-radius: 30px;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);


}

.input-box i {

  font-size: 25px;
  color: #707070;
}

.input-box a {
position: absolute;
left: 0;
padding-left: 25px;
top: 0;
height: 100%;
display: flex;
align-items:center ;
justify-content: center;
}


.input-box input{
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
color: #333;
  outline: none;
  border: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
} 


